.headersection{
    padding: 15px 15px;
    text-align: center;
}

.headersection h1{
    font-weight: bold;
    font-size: 20px;
}

.headersection p{
    color: #373131;
    padding: 10px 0 10px 0;
    font-size: 17px;
    letter-spacing: 1.1px;
}